[submodule "n64/games/oot/decomp/oot"]
	path = n64/games/oot/decomp/oot
	url = git@github.com:dustinlacewell/oot.git
[submodule "n64/games/sm64/decomp/sm64"]
	path = n64/games/sm64/decomp/sm64
	url = git@github.com:n64decomp/sm64.git
[submodule "n64/modloader/ModLoader64"]
	path = n64/modloader/ModLoader64
	url = git@github.com:hylian-modding/ModLoader64.git
